<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>sam:D | Sistema de Atención Médica Domiciliaria por Intermedi</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Solicite atención médica en su casa u oficina a través de los planes de cobertura de Intermedi">
	<meta name="keywords" content="ayuda, emergencias, ticket, solicitud, en línea, ambulanci, hospital, médico, paramédico, caracas, venezuela">
	<meta name="author" content="www.intermedi.com.ve">
	
	<!-- Bootstrap Styles -->
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<style type="text/css">
	body {
	/*padding-top: 60px;*/ /* If fixed navbar. 60px to make the container go all the way to the bottom of the topbar */
	}
	</style>
	<!-- Bootstrap Styles Responsive -->
	<link href="css/bootstrap-responsive.min.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
	
	<!-- IE6-8 support of HTML5 elements -->
	<!--[if lt IE 9]>
	<script src="js/html5.js"></script>
	<![endif]-->
</head>
<body>
	<div id="header-zone">
		<div class="container">
			<div class="navbar">
				<div class="navbar-inner">
				<a class="brand" href="#">sam:D</a>
				<ul class="nav pull-right">
					<li><a href="#"><i class="icon-home"></i> Mis Solicitudes</a></li>
					<li class="active"><a href="#"><i class="icon-plus"></i> Nueva Solicitud</a></li>
					<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-asterisk"></i> Mi Cuenta <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="#"><i class="icon-user"></i> Mi Perfil</a></li>
							<li><a href="#"><i class="icon-question-sign"></i> Ayuda</a></li>
							<li><a href="#"><i class="icon-heart"></i> Atención al Cliente</a></li>
							<li class="divider"></li>
							<li><a href="#"><i class="icon-off"></i> Cerrar Sesión</a></li>
						</ul>
					</li>			
				</ul>
				</div>
			</div>
		</div>	
	</div>
	<div id="middle-zone">
		<div class="container">
			<div class="alert alert-block alert-error">
				<button type="button" class="close" data-dismiss="alert">×</button>
				<h4>Error</h4>
				Por favor verifica los campos requeridos
			</div>		
			<h3 class="pull-left table-title">Nueva Solicitud</h3>
			<div class="row">
			<div class="span12">
			<div class="table-container">
				<div class="title-sector">
					<h4 class="pull-left">Datos del Afiliado</h4>
					<a href="#" class="pull-right"><i class="icon-edit"></i> Editar</a>
				</div>
			<div class="row">				
				<div class="form-inline span3">
					<h5>Datos Personales</h5>
					<div class="control-group">
						<label class="control-label" for="userName">Nombres</label>
						<div class="controls">
						<input type="text" id="userNames" value="Julio Andrés">
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="userSurname">Apellidos</label>
						<div class="controls">
						<input type="text" id="userSurname" value="García Pérez">
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="userID">Cédula de Identidad</label>
						<div class="controls">
						<input type="text" id="userID" value="V14538719">
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="userAge">Edad</label>
						<div class="controls">
						<input type="text" id="userAge" value="21">
						</div>
					</div>
				</div>
				<div class="form-inline span3">
					<h5>Datos de Contacto</h5>				
					<div class="control-group">
						<label class="control-label" for="userName">Móvil</label>
						<div class="controls">
						<input type="text" id="userNames" value="04241152635" style="margin-bottom:10px;">
						<input type="text" id="userNames" value="04128596852" class="">
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="userName">Oficina</label>
						<div class="controls">
						<input type="text" id="userNames" value="02128559685" style="margin-bottom:10px;">
						<input type="text" id="userNames" value="02128559682">
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="userName">Domicilio</label>
						<div class="controls">
						<input type="text" id="userNames" value="02127314560" style="margin-bottom:10px;">
						<input type="text" id="userNames" value="02127314561">
						</div>
					</div>					
				</div>
			</div>
		
			</div>
			</div>
			</div>
		</div>
	</div>
	<div id="footer-zone">
		<div class="container">
			<hr>
			<div class="row">
				<div class="span12">
				
					<ul class="nav nav-pills" style="margin:auto;">
						<li><a href="#">Inicio</a></li>
						<li><a href="#">Nueva Solicitud</a></li>
						<li><a href="#">Mis Solicitudes</a></li>
						<li><a href="#">Mi Perfil</a></li>
						<li><a href="#">Ayuda</a></li>
					</ul>
					
					<p style="color: #999999;">¿Necesita asistencia inmediata? Contacta ya al <strong>0800-INTERM(036639)</strong></p>
				</div>
			</div>
		</div>
	</div>
	
	
<!-- SCRIPTS -->

<!-- jQuery -->
<script src="js/jquery.js" type="text/javascript"></script>
<!-- Bootstrap Scripts -->
<script src="js/bootstrap.min.js" type="text/javascript"></script>
	
</body>

</html>
